@import "../../assets/scss/variables.scss";

.bottom-page-container {
  background-color: $wkndblack;
  position: relative;
  display: flex;
  justify-content: center;
}

.bottom-page {
  margin-top: 191px;
}

.bottom-page-item-resource {
  margin-top: 37px;
}

.bottom-page-item-help-and-tips {
  margin-top: 70px;
}

.posts-wrapper {
  margin: 30px 0;
  height: 176px;
  background-color: $wkndwhite;
}

.bottom-page-item-you-are-all-set {
  margin-top: 67px;
  margin-bottom: 203px;

  @media screen and (max-width: $laptop) {
    margin-bottom: 374px;
  }
}

.light-red-3 {
  background-image: url("../../assets/images/very-light-red-path-4.svg");
  background-position: bottom left;
}

.astronout-3 {
  background-image: url("../../assets/images/astronout-3.svg");
  background-position: bottom 98px left 31px;
}
