/* Variables
========================================================================== */

// color-pallete
$wkndblack: #000000;
$wkndpink: #eebece;
$wkndwhite: #ffffff;
$wkndblue: #0b24fb;

// screen-size

$mobile: 425px;
