/* Variables
========================================================================== */

// color-pallete
$wkndblack: #000000;
$wkndpink: #eebece;
$wkndwhite: #ffffff;
$wkndblue: #0b24fb;

// screen-size
$larger-laptop: 1152px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;
