@import "../../assets/scss/variables.scss";

.quote-section-container {
  height: 564px;
  position: relative;
  background-color: $wkndpink;
}

.light-red-background-container-2 {
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/very-light-red-path-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.astronout-container-2 {
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/astronout-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
