@import "../../assets/scss/variables.scss";

.bottom-page-item {
  position: relative;
  z-index: 2;
  text-align: center;

  @media screen and (max-width: $mobile) {
    text-align: left;
  }
}

.bottom-page-item-paragraph-margin {
  margin: 30px 0;
}
