@import "../../assets/scss/variables.scss";

.testimonial-container {
  width: 100%;
  height: 237px;
  top: 1219px;
  color: $wkndwhite;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    margin-right: 0;
    top: 1202px;
  }
}

.testimonial-wrapper {
  width: 100%;

  @media screen and (max-width: $tablet) {
    width: 100%;
    padding-left: 32px;
    margin: 37px 0 0 0;
  }
}

.testimonial-heading {
  text-align: center;

  @media screen and (max-width: $mobile) {
    text-align: left;
  }
}

.testimonial-slider {
  width: 100%;
  height: 194px;
  color: $wkndblack;
}
