@import "../../assets/scss/variables.scss";

.you-are-all-set-section-container {
  width: 100%;
  background-color: $wkndblack;
  position: relative;
  display: flex;
  justify-content: center;
}

.paragraph-item-container-2 {
  width: 100%;
  padding: 60px 0 139.5px 0;

  @media screen and (max-width: $laptop) {
    margin-top: 1.5px;
    padding: 0 0 340.5px 0;
  }
}

.light-red-3 {
  background-image: url("../../assets/images/very-light-red-path-4.svg");
  background-position: bottom left;
}

.astronout-3 {
  background-image: url("../../assets/images/astronout-3.svg");
  background-position: bottom 98px left 31px;
}
