@import "../../assets/scss/variables.scss";

.carousel-item-container {
  width: 247px;
  height: 140px;
  padding: 20px;
  background-color: $wkndwhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.carousel-item-title-wrapper,
.carousel-item-paragraph-wrapper {
  width: 100%;
}

.carousel-item-paragraph-wrapper {
  margin-top: 15px;
  height: 53px;
  text-overflow: clip;
  overflow: hidden;
}
