@import "../../assets/scss/variables.scss";

.carousel-section-container {
  max-width: 735px;
  height: 100%;
  margin: auto;
  //   background-color: $wkndpink;
  display: flex;
}

.arrow-wrapper {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.arrow {
  width: 32px;
}

.arrow-active {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.rotate-arrow {
  transform: rotate(180deg);
}

.carousel-item-wrapper {
  width: 100%;
  margin: 0 25px;
  padding: 25px 0 29px 25px;

  overflow: hidden;

  @media screen and (max-width: $tablet) {
    margin: 0;
    padding: 25px 0 29px 0;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.carousel-item-content {
  display: flex;
  //   flex-direction: row;
  gap: 10px;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.carousel-item-content > * {
  flex-shrink: 0;
  flex-grow: 1;
}
