@import "../../assets/scss/variables.scss";

.hero-container {
  height: 1359px;
  position: relative;
}

.heading-wrapper {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 151px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @media screen and (max-width: $mobile) {
    top: 134px;
  }
}

.main {
  background-image: url("../../assets/images/BG_1.svg");
  background-size: cover;
  background-position: top center;
}

.astronout-1 {
  background-image: url("../../assets/images/astronout-1.svg");
  background-position: center top 30%;

  @media screen and (max-width: $mobile) {
    background-position: center top 31%;
  }
}

.custom-button {
  position: absolute;
  z-index: 5;
  top: 38.25%;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $mobile) {
    top: 39%;
  }
}

.light-red-1 {
  height: 160px;
  background-image: url("../../assets/images/very-light-red-path-2.svg");
  background-position: center right;
  transform: translateY(768px);

  @media screen and (max-width: $mobile) {
    transform: translateY(657px);
  }
}

.astronout-2 {
  height: 160px;
  background-image: url("../../assets/images/astronout-2.svg");
  background-position: center right;
  transform: translateY(768px);

  @media screen and (max-width: $mobile) {
    transform: translateY(657px);
  }
}

.quote-wrapper {
  top: 888px;
  text-align: right;

  @media screen and (max-width: $mobile) {
    top: 840px;
  }
}

.quote-author {
  padding: 20px 0;
}

.oval {
  top: 10%;
  background-image: url("../../assets/images/oval.svg");
  background-position: bottom left;
  transform: scale(0.67);

  @media screen and (max-width: $mobile) {
    background-position: bottom left;
  }
}
