@import "../../assets/scss/variables.scss";

h1 {
  padding: 10px;
  font-size: 62px;
  font-weight: bold;
  font-weight: 900;
  line-height: 51px;
}

h3 {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
  font-weight: 600;
  line-height: 24.61px;
  font-style: italic;
}

.hero-container {
  height: 1359px;
  position: relative;
  // background-color: $wkndpink;
}

.heading-wrapper {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 151px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $wkndwhite;
}

.background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/BG_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.astronout-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-image: url("../../assets/images/astronout-1.svg");
  background-repeat: no-repeat;
  background-position: center top 30%;
}

.custom-button {
  position: absolute;
  z-index: 5;
  top: 38.25%;
  left: 50%;
  transform: translateX(-50%);
}

.light-red-background-wrapper {
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/very-light-red-path-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform: translateY(768px);
}

.astronout-wrapper-2 {
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/astronout-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform: translateY(768px);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 51px;
  }

  h3 {
    font-size: 16px;
    line-height: 18.75px;
  }

  .heading-wrapper {
    top: 134px;
  }

  .astronout-wrapper {
    background-position: center top 31%;
  }
  .custom-button {
    top: 39%;
  }

  .light-red-background-wrapper {
    transform: translateY(667px);
  }

  .astronout-wrapper-2 {
    transform: translateY(667px);
  }
}
