@import "../../assets/scss/variables.scss";

h1 {
  padding: 10px;
  font-size: 62px;
  font-weight: bold;
  font-weight: 900;
  line-height: 51px;
}

h3 {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
  font-weight: 600;
  line-height: 24.61px;
  font-style: italic;
}

.hero-container {
  height: 768px;
  position: relative;
  background-color: $wkndpink;
}

.heading-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 151px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $wkndwhite;
}

.black-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/black-path.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -15px center;
}

.blue-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-image: url("../../assets/images/blue-path.svg");
  background-repeat: no-repeat;
  background-position: left 10% top;
}

.oval-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: url("../../assets/images/oval.svg");
  background-repeat: no-repeat;
  background-position: top 273px left 32%;
}

.light-red-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-image: url("../../assets/images/very-light-red-path-1.svg");
  background-repeat: no-repeat;
  background-position: top 70% left 90%;
}

.astronout-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-image: url("../../assets/images/astronout-1.svg");
  background-repeat: no-repeat;
  background-position: center top 70%;
}

.custom-button {
  position: absolute;
  z-index: 5;
  top: 68.5%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
  .oval-background-container {
    background-position: top 273px left 10%;
  }

  .light-red-background-container {
    background-position: top 70% right -20px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 51px;
  }

  h3 {
    font-size: 16px;
    line-height: 18.75px;
  }

  .blue-background-container {
    background-position: right top;
  }

  .oval-background-container {
    background-position: top 273px left -66px;
  }

  .light-red-background-container {
    display: none;
  }

  .astronout-container {
    background-position: center top 80%;
  }
  .custom-button {
    top: 74.5%;
  }
}
