@import "../../assets/scss/variables.scss";

.footer-container {
  width: 100%;
  height: 67px;
  background-color: $wkndblue;
  color: $wkndwhite;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  margin: auto 24px;
  display: flex;
  justify-content: space-between;
}
.footer-copyright,
.footer-version {
  padding: 4px 10px;
}

.footer-version {
  border: 1px solid $wkndwhite;
  border-radius: 29px;
}
